
body{
background-color: #252525;
width: 100%;
}


header .container-fluid{



}




#container{
font-size: 15px;
height: 70px;
}

.dropdown-menu{
background-color: #31c7ff;
border: none;
position: absolute;
}

#offcanvasNavbarDropdown:focus{

    color: black;
    font-size: 18px;
    padding: 0px ;


}

.dropdown-menu li a:hover{

background-color: #080808;
width: 90%;
border-top-right-radius: 1em;
border-bottom-right-radius: 1em;
color: white;

}

.offcanvas-body li a{

color: white;


}


.offcanvas-body .nav-link:hover{
padding: 5.3px;
color: black;
font-size: 18px;
border-bottom: solid black 0.5px ;
}

.offcanvas-body .nav-link:active{

color:none;
    
}

.offcanvas-body .nav-link:focus{
    color: black;

}

.offcanvas{

background-color: #31c7ff;

}

.navbar-toggler{
border: none;

}

#main .carousel-inner img{

max-height: 85vh;
object-fit: cover;
}


#carousel{

position: relative;

}


#carousel .overlay{

position: absolute;
top: 0 ;
bottom: 0 ;
left: 0 ;
right: 0 ;

}






.overlay #Contenido1 h2{

color: #ffffff;
font-size: 25px;
            

}

.overlay #Contenido1 p{
color: #ffffff;
font-size: 8px;



}


#Contenido1 h2{

font-size: 23px;
color: #ffffff;
}







#Contenido2 p{

font-size: 15px;
color: #ffffff;
}


#Escoge{

    color: #252525;


}




#Boton1{

background-color: #7f8cff;
width: 100%;
border-radius: 1em;
border: none;
color:#ffffff ;
height: 40px;
}


#Boton1:hover{

    background-color: #31c7ff;
    color: #000000;
}


#Boton2{

background-color: #00ff40;
border: none;
width: 100%;
border-radius: 1em;
color: #ffffff;
height: 40px;

}


#Boton2:hover{

    background-color: #31c7ff;
    color: #000000;

}


#Planes h1, p{

color: #252525;

}

#Planes .card{

border-radius: 0%;

}

#Planes .card .card{

border-radius: 2em;
background-color: #252525;
border: none;

}




#boton1{

background-color: none;
border: solid #252525 3px;
color: #252525;
border-radius: 2em;
width: 80%;
height: 50px;

}

#boton1:hover{

background-color: #a303ff;
color: #ffffff;
border: none;



}


#boton2{

background-color: none;
border: solid #252525 3px;
color: #252525;
border-radius: 2em;
width: 80%;
height: 50px;

}

#boton2:hover{

background-color: #a303ff;
color: #ffffff;
border: none;



}


#boton3{

background-color: none;
border: solid #252525 3px;
color: #252525;
border-radius: 2em;
width: 80%;
height: 50px;

}

#boton3:hover{

background-color: #a303ff;
color: #ffffff;
border: none;



}


#DISEÑAMOS-PÁGINAS h1, h4, p{

color: #ffffff;

}



#identidad .card{
width: 100%;
border-radius: 0%;
color: white;

}

#identidad .card .card{

background-color: #252525;
border-radius: 2em;

}

#identidad .card a p:hover{

color: #a303ff;
text-decoration: none;

}



#Desarrollo p{

color: #ffffff;

}


#Desarrollo .carousel-item{
position: relative;
left: 3em;
}

#Desarrollo h1{

    color: #ffffff;

}

#footer{


background-color: #a303ff;
width: 100%;
font-size: 12px;
color: #ffffff;
}


#footer a:hover{

color: #ffffff;
border-bottom: solid white 1px;
padding: 0%;
margin: 0%;
}