
body{
background-image: url(./Fondo\ de\ prueba.png);
background-size: cover;
}


#container{
font-size: 15px;
height: 70px;
}

.dropdown-menu{
background-color: #15cf43;
border: none;
}

#offcanvasNavbarDropdown:focus{

    color: #15cf43;
    font-size: 18px;
    padding: 0px ;


}

.dropdown-menu li a:hover{

background-color: #080808;
width: 90%;
border-top-right-radius: 1em;
border-bottom-right-radius: 1em;
color: white;

}

.offcanvas-body li a{

color: white;


}


.offcanvas-body .nav-link:hover{
padding: 5.3px;
color: #15cf43;
font-size: 18px;
border-bottom: solid #15cf43 0.5px ;
}

.offcanvas-body .nav-link:active{

color:none;
    
}

.offcanvas-body .nav-link:focus{
    color: #15cf43;

}

.offcanvas{

background-color: #080808;

}

.navbar-toggler{
border: none;

}


#Contenido1 h1{

color: white;
font-size: 66.5px;
border-bottom: solid #ffffff 0.5px ;
border-bottom-right-radius: initial;
}

#Contenido1 p{

color: #15cf43;
font-size: 48px;



}


#barra{


}


#Contenido2 p{

font-size: 15px;
color: #ffffff;
}


#Boton1{

background-color: #15cf43;
width: 100%;
height: ;
border: solid #15cf43 1px;
border-radius: 0.8em;
color:#080808 ;
height: 40px;
}

#Boton2{

background-color: transparent;
width: 100%;
height: ;
border: solid white 1px;
border-radius: 1em;
color: white;
border-radius: 0.8em;
height: 40px;

}


#footer{


background-color: #15cf43;
width: 100%;
position: relative;
top: 2.6em;
font-size: 14.5px;
}


#footer a:hover{

color: #ffffff;
border-bottom: solid white 1px;
padding: 0%;
margin: 0%;
}